<% provide(:title, "Help") %>
<h1>Welcome to Stack Overflow</h1>
<center>
  <%= image_tag("sologo.png", alt: "Stack Overflow logo") %>
  <p>
  Stack Overflow is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.
  </p>
</center>
<h3>Ask questions, get answers, no distractions</h3>
<ul>
	<li>This site is all about getting answers. It's not a discussion forum. There's no chit-chat.</li>
	<li>Good answers are voted up and rise to the top. The best answers show up first so that they are always easy to find.</li>
	<li>The person who asked can mark one answer as "accepted".</li>
</ul>
<h3>Get answers to practical, detailed questions</h3>
<ul>
	<li>Focus on questions about an actual problem you have faced. Include details about what you have tried and exactly what you are trying to do.</li>
	<li>Not all questions work well in our format. Avoid questions that are primarily opinion-based, or that are likely to generate discussion rather than answers.</li>
</ul>
<h3>Improve posts by commenting</h3>
<ul>
	<li>Our goal is to have the best answers to every question, so if you see questions or answers that can be improved, you can leave a comment for them.</li>
	<li>Also use comments to ask for more information or clarify a question or answer.</li>
</ul>